@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BODY-BG: #E6EFF5;
  --WHITE: #FFFFFF;
  --GREEN: #2AB3B1;
  --LIGTH-GREEN: #4ABFBD;
  --LEMON-GREEN: #C0DF33;
  --GRAY: #9AA7BE;

  /* SHADOWS */
  --CARD-SHADOW: 0rem .9375rem 1.875rem 0rem hsla(212, 100%, 34%, 0.1488);
  --BUTTON-SHADOW: 0rem .625rem .625rem 0rem hsla(0, 0%, 0%, 0.0973);

  /* TYPOGRAPHY */
  --FF: "Karla", serif;

  /* TEXT STYLE */
  /* MOBILE */
  --HEADER-TITLE-MOB: bold 1.25rem var(--FF);
  --HEADER-SUBTITLE-MOB: bold .9375rem/1.25rem var(--FF);
  --HEADER-TEXT-MOB: normal .875rem/1.625rem var(--FF);

  /* DESKTOP */
  --HEADER-TITLE: bold 1.5rem var(--FF);
  --HEADER-SUBTITLE: bold 1.125rem var(--FF);
  --HEADER-TEXT: normal 1rem/1.625rem var(--FF);
  --MAIN-TITLE: bold 1.125rem var(--FF);
  --MAIN-PRICE: bold 2rem var(--FF);
  --MAIN-TEXT: normal 1rem/1.625rem var(--FF);
  --MAIN-BUTTON: bold 1rem var(--FF);
  --FEATURE-TEXT: normal .875rem/1.25rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--BODY-BG);
  display: grid;
  place-content: center;
}

/* PRICING CARD */
.pricing-card {
  max-width: 311px;
  min-height: 722px;
  background-color: var(--WHITE);
  border-radius: .3125rem;
  margin: 4.5rem auto 3.875rem auto;
  box-shadow: var(--CARD-SHADOW);
  overflow: hidden;
}

/* HEADER */
.pricing-card__header {
  max-width: 100%;
  height: 267px;
  padding: 1.75rem 1.5rem 2rem 1.5rem;
}

.pricing-card__header-title {
  font: var(--HEADER-TITLE-MOB);
  color: var(--GREEN);
  margin-bottom: 1.5rem;
  letter-spacing: -0.0156rem;
}

.pricing-card__header__subtitle {
  max-width: 263px;
  font: var(--HEADER-SUBTITLE-MOB);
  color: var(--LEMON-GREEN);
  margin-bottom: 1rem;
  letter-spacing: -0.0119rem;
}

.pricing-card__header__description {
  font: var(--HEADER-TEXT-MOB);
  color: var(--GRAY);
  letter-spacing: -0.0106rem;
}

/* SUBSCRIPTION */
.pricing-card__subscription {
  width: 100%;
  height: 228px;
  background-color: var(--GREEN);
  padding: 1.5rem;
}

.pricing-card__subscription-title {
  font: var(--MAIN-TITLE);
  color: var(--WHITE);
  margin-bottom: 1.125rem;
  letter-spacing: -0.0138rem;
}

.pricing-card__subscription-price {
  width: 147px;
  height: 37px;
  display: flex;
  align-items: center;
  gap: .6875rem;
  margin-bottom: .25rem;
}

.pricing-card__price {
  font: var(--MAIN-PRICE);
  color: var(--WHITE);
  letter-spacing: -0.025rem;
}

.pricing-card__label {
  font: var(--MAIN-TEXT);
  color: hsla(0, 0%, 100%, 0.50);
  letter-spacing: -0.0125rem;
}

.pricing-card__subscription-description {
  font: var(--MAIN-TEXT);
  color: var(--WHITE);
  letter-spacing: -0.0125rem;
  margin-bottom: 1.625rem;
}

/* BUTTON */
.pricing-card__cta {
  font: var(--MAIN-BUTTON);
  width: 100%;
  padding: .9375rem 6.375rem .875rem 6.375rem;
  border-radius: .3125rem;
  border: none;
  outline: none;
  background-color: var(--LEMON-GREEN);
  color: var(--WHITE);
  box-shadow: var(--BUTTON-SHADOW);
}

/* FEATURES */
.pricing-card__features {
  width: 100%;
  height: 227px;
  background-color: var(--LIGTH-GREEN);
  padding: 1.5rem 3.0625rem 1.5rem 1.5rem;
}

.pricing-card__features-title {
  font: var(--MAIN-TITLE);
  color: var(--WHITE);
  letter-spacing: -0.0138rem;
  margin-bottom: 1.125rem;
}

.pricing-card__features-list {
  list-style-type: none;
  max-width: 238px;
}

.pricing-card__features-list li {
  font: var(--FEATURE-TEXT);
  letter-spacing: -0.0106rem;
  color: hsla(0, 0%, 100%, 0.75);
}

@media screen and (min-width: 768px) {
  
  /* PRICING CARD */
  .pricing-card {
    max-width: 635px;
    min-height: 475px;
    border-radius: .5rem;
    margin: 163px auto 162px auto;
  }
  
  /* HEADER */
  .pricing-card__header {
    height: 216px;
    padding: 2.5rem;
  }

  .pricing-card__header-title {
    font: var(--HEADER-TITLE);
    letter-spacing: -0.0187rem;
  }

  .pricing-card__header__subtitle {
    max-width: 555px;
    font: var(--HEADER-SUBTITLE);
    color: var(--LEMON-GREEN);
    margin-bottom: .6875rem;
    letter-spacing: -0.0138rem;
  }

  .pricing-card__header__description {
    max-width: 555px;
    font: var(--HEADER-TEXT);
    letter-spacing: -0.0125rem;
  }

  /* MAIN */
  .pricing-card__main {
    display: flex;
  }

  /* SUBSCRIPTION */
  .pricing-card__subscription {
    height: 259px;
    padding: 2.5rem 2.4375rem 2.4375rem 2.5rem;
  }

  /* BUTTON */
  .pricing-card__cta {
    padding: .9375rem 5.5625rem .875rem 5.5625rem;
  }

  
  /* FEATURES */
  .pricing-card__features {
    height: 259px;
    padding: 2.5rem;
  }

}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* BUTTON */
  .pricing-card__cta:hover, 
  .pricing-card__cta:focus-visible {
    background-color: #ffffff00;
    outline: .125rem solid var(--LEMON-GREEN);
  }
}
